<h1 id="<%= chapter.name %>"><%= chapter.name %></h1>
<% 
for(var i = 0; i < chapter.sections.length; i++) { 
	var section = chapter.sections[i]; 
	%>
	<div class="bs-docs-section">
		<h2 id="<%= chapter.name %>-<%= section.name %>"><%= section.name %></h2>
		<% for(var j = 0; j < section.blocks.length; j++) { %>
		<% var block = section.blocks[j]; %>
		<p>
			<%- block.key %>:
			<%- block.description %>
		</p>
		<% } %>
	</div>
	<% 
} 
%>