<div class="bs-docs-section">
	<!-- <dl>
		<dt><%- section.section_name%></dt>
		<% for(var j = 0; j < section.blocks.length; j++) { %>
		<% var block = section.blocks[j]; %>
		<dd>
			<label class="label label-primary"><%- block.key%></label>
			<%- block.description%>
		</dd>
		<% } %>
	</dl> -->
		<h2><%- section.section_name%></h2>
		<% for(var j = 0; j < section.blocks.length; j++) { %>
		<% var block = section.blocks[j]; %>
		<p>
			<%- block.key%>:
			<%- block.description%>
		</p>
		<% } %>
</div>