<ul class="nav bs-docs-sidenav">

    <% 
    if(chapters.length > 1) { 
        for(var i = 0; i < chapters.length; i++) { 
            var chapter = chapters[i]; 
            var sections = chapter.sections;
            %>

            <li>
                <a href="#<%= i %>"><%= chapter.name %></a>
                <ul class="nav">

                    <% 
                    for(var j = 0; j < sections.length; j++) {  
                        var section = sections[j]; 
                        %>

                        <li><a href="#<%= i %>-<%= j %>"><%= section.name %></a></li>

                        <% 
                    } 
                    %>

                </ul>
            </li>

            <% 
        }
    } 
else if(chapters.length == 1) { 
    for(var j = 0; j < chapters[0].sections.length; j++) {  
        var section = chapters[0].sections[j]; 
        %>

        <li><a href="#<%= 0 %>-<%= j %>"><%= section.name %></a></li>

        <% 
    }  
} 
%>

</ul>