<% 
for(var i = 0; i < content.chapters.length; i++) { 
	var chapter = content.chapters[i]; %>

	<h2 id="<%= i %>"><%= chapter.name %></h2>
	<div class="bs-docs-section">

	<% 
	for(var j = 0; j < chapter.sections.length; j++) { 
		var section = chapter.sections[j]; 
		%>

			<h3 id="<%= i %>-<%= j %>"><%= section.name %></h3>
			<div>

			<% 
			for(var k = 0; k < section.blocks.length; k++) { 
				var block = section.blocks[k]; 
				%>

				<dl class="dl-horizontal">
					<dt><%- block.key %></dt>
					<dd><%- block.description %></dd>
				</dl>

				<% 
			} 
			%>

			</div>

		<% 
	} 
	%>

	</div>

<% 
} 
%>