<% 
for(var i = 0; i < content.chapters.length; i++) { 
	var chapter = content.chapters[i]; 
	if(chapter.name) { %>

	<h2 class="page-header" id="<%= i %>"><%= chapter.name %></h2>

	<% 
	} 
	%>

	<div class="bs-docs-section">

	<% 
	for(var j = 0; j < chapter.sections.length; j++) { 
		var section = chapter.sections[j]; 
		%>

			<h3 id="<%= i %>-<%= j %>"><%= section.name %></h3>
			<div class="section">

			<% 
			if(section.blocks) {
				for(var k = 0; k < section.blocks.length; k++) { 
					var block = section.blocks[k]; 
					%>

					<dl class="dl-horizontal">
						<dt><%- block.key %></dt>
						<dd class="text-muted"><%- block.description %></dd>
					</dl>

					<% 
				} 
			}
			%>

			<% 
			if(section.codeSnippets) {
				for(var k = 0; k < section.codeSnippets.length; k++) { 
					var codeSnippet = section.codeSnippets[k]; 
					%>

					<div class="highlight">
					<span class="text-muted"><%- codeSnippet.description %></span>
					<pre><code class="prettyprint linenums" data-code-url="<%= codeSnippet.url %>"></code></pre>
					</div>

					<% 
				} 
			}
			%>

			<% 
			if(section.images) {
				for(var k = 0; k < section.images.length; k++) { 
					var image = section.images[k]; 
					%>

					<img src="<%= image.url %>" class="img-thumbnail img-responsive" title="<%= image.alt %>" alt="<%= image.alt %>">

					<% 
				} 
			}
			%>

			</div>

		<% 
	} 
	%>

	</div>

<% 
} 
%>