<div>

<% 
for(var i = 0; i < content.chapters.length; i++) { 
	var chapter = content.chapters[i]; 
	if(chapter.name) { %>

	<h2 class="page-header" id="<%= i %>"><%= chapter.name %></h2>

	<% 
	} 
	%>

	<div class="bs-docs-section">

	<% 
	for(var j = 0; j < chapter.sections.length; j++) { 
		var section = chapter.sections[j]; 
		%>

		<h3 id="<%= i %>-<%= j %>"><%= section.name %></h3>
		<div class="section">
			<%
				for(key in section) { 
					switch(key){
						case "blocks":%>
						
						<%- include('block', { blocks: section.blocks }); %>

						<%
						break;
						case "paragraphs":%>
						
						<%- include('paragraph', { paragraphs: section.paragraphs }); %>

						<%
						break;
						case "codeSnippets":%>

						<%- include('codeSnippet', { codeSnippets: section.codeSnippets }); %> 

						<%
						break;
						case "images":%>

						<%- include('image', { images: section.images }); %>

						<%
						break;
					}
				}
			%>
		</div>

		<% 
	} 
	%>

	</div>

<% 
} 
%>

</div>