<div>

<% 
for(var i = 0; i < content.chapters.length; i++) { 
	var chapter = content.chapters[i]; 
	if(chapter.name) { %>

	<h2 class="page-header" id="<%= i %>"><%= chapter.name %></h2>

	<% 
	} 
	%>

	<div class="bs-docs-section">

	<% 
	for(var j = 0; j < chapter.sections.length; j++) { 
		var section = chapter.sections[j]; 
		%>

		<h3 class="text-primary" id="<%= i %>-<%= j %>"><%= section.name %></h3>
		<div class="section">

			<% 
			if(section.blocks) {
				for(var k = 0; k < section.blocks.length; k++) { 
					var block = section.blocks[k]; 
					%>

					<%- include('block', { block: block }); %>

					<% 
				} 
			}
			%>

			<% 
			if(section.codeSnippets) {
				for(var k = 0; k < section.codeSnippets.length; k++) { 
					var codeSnippet = section.codeSnippets[k]; 
					%>

					<%- include('codeSnippet', { codeSnippet: codeSnippet }); %>

					<% 
				} 
			}
			%>

			<% 
			if(section.images) {
				for(var k = 0; k < section.images.length; k++) { 
					var image = section.images[k]; 
					%>

					<%- include('image', { image: image }); %>

					<% 
				} 
			}
			%>

		</div>

		<% 
	} 
	%>

	</div>

<% 
} 
%>

</div>