<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- include('../partials/head'); %>
</head>
<body data-spy="scroll" data-offset="100" data-target="#catalog">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
        <div class="container">
            <span class="skiplink-text">Skip to main content</span>
        </div>
    </a>

    <!-- 导航 -->
    <%- include('../partials/nav'); %>

    <!-- 论文简介 -->
    <div class="bs-docs-header" id="content" tabindex="-1">
        <div class="container">
            <h1><%= 题目 %></h1>
            <p>摘要: <%= 摘要 %></p>
            <p>关键字: <%= 关键字 %></p>
        </div>
    </div>

    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-9" role="main">
                <!-- 正文 -->
                <%- include('../partials/chapter', { content: 正文 }); %>
                
                <!-- 注释 -->
                <%- include('../partials/note', { note: 注释 }); %> 

                <!-- 分享 -->
                <%- include('../partials/share', { bdText: 题目 }); %> 
                
                <!-- 评论 -->
                <%- include('../partials/comment', { sid: 题目 }); %> 

            </div>
            <div class="col-md-3" role="complementary">
                <!-- 目录 -->
                <nav id="catalog" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="320">
                    <%- include('../partials/catalog', { chapters: 正文.chapters }); %>
                    <a class="back-to-top" href="#top">
                        返回顶部
                    </a>
                </nav>
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <%- include('../partials/footer'); %>
</body>
</html>